@model DiplomaWebApp.Records.StudentRecord
@using (Html.BeginForm("CreateStudent", "Admin", FormMethod.Post))
{
    <h1>Создание студента</h1>
    //@Html.Hidden("id")
    <div>Имя: <input asp-for="Name" type="text" /></div>
    <div>Фамилия: <input input asp-for="Surname" type="text" /></div>
    <div>Отчество: <input input asp-for="Fatname" type="text" /></div>
    <div>Email: <input input asp-for="Email" type="text" /></div>
    @ViewBag.Message
    <input type="submit" value="Создать студента" />
}