@model DiplomaWebApp.Records.TaskRecord
    <h1>Отредактировать задачу</h1>
    <div>Id= @Model.Id</div><br />
    <div>Текст задачи: <input id="text" type="text" value="@Model.Text" /></div>
    <div id="message"></div>
    <input type="button" onclick=Update(@Model.Id) value="Зафиксировать изменения"/>
    
    
    
    
    
    <script>
        function Update(Id) 
        {
            Text=document.getElementById("text").value
            response=fetch("/Admin/UpdateTask",
            {
                method: "Put",
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                
                    "Id":Id,
                    "Text":Text
                })
            })
            .then( response =>  
            {
                Status=response.status
                if (Status == 404)
                    document.getElementById("message").innerText = "Не найден изменяемый объект"
                else 
                {
                    return response.json();
                }
            })
            .then((body) =>
            {
                document.getElementById("message").innerText = body.message
            })
        }
        
    </script>
    <style>
        input[type="text"] {
            height: 100px;
            width: 400px;
        }
    </style>