@{
    Layout="_Layout_Main";
}
<h2>Вход в систему</h2>

<form action="/Home/Login" method="post">
    <div>
        Логин @Html.TextBox("login") 
    </div>
    <br />
    <div> 
        Пароль @Html.TextBox("password","","",new {@type="password"}) 
    </div>
    <input type="submit" value="Войти" />
    @ViewBag.Message
</form>